#title {
    background-color: #E8F0FF;
    color: black;
    width: 25rem;
    margin: 5rem auto 3rem auto;
    border-radius: 4px;
    padding: 1rem;
}

#intro-description {
    font-size: 1.5rem;
    padding: 1rem;
    width: 60rem;
    margin: 0 auto 3rem auto;
}